<div class="navbar flex flex-col sm:flex-row  h-fit p-1 bg-gray-900 justify-between items-center px-4 sm:px-8">
   <div>
       <h2 class="text-white text-2xl">OurApp</h2>
   </div>
   <form class="flex flex-col sm:flex-row gap-2 sm:gap-4 items-center" action="/user/signin" method="post">
       <input class="bg-gray-700 h-8 p-1 text-white" name="userName" id="userName1" type="text" placeholder="Username">
       <input class="bg-gray-700 h-8 p-1 text-white" name="password" id="password1" type="password" placeholder="Password">
       <button class="p-1 h-8 bg-blue-600 text-white rounded-sm" type="submit">Sign In</button>
   </form>
</div>